.task01{
    flex: 500px;
    flex-direction: row;
    justify-content: space-between;
}

.parent {
    width: 500px;
    height: 100px;
    border: 1px solid green;
}

.children {
    width: 500px;
    height: 100px;
    background-color: pink;
    display: none;
}

.task02{
    width: 200px;
    height: 100px;
    color: red;
}

.box{
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    border-radius: 5px;
    border: black 2px solid;
    margin: 20px;
}